@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
    <li><a href="~/index">HOME</a></li>
    <li>E-Book</li>
</ul>

@RenderPage("~/Views/Shared/sidebar.cshtml")

<div id="content">
    
    <h3>电子书</h3>
    <ul>
         <li>TQ-智慧革命 <a class="dl" href="~/Content/images/Ebook/swiu-TQ-2010_cn.pdf">Download</a></li>
    </ul>
    
</div><!-- content //-->
