@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
    <li><a href="~/index">HOME</a></li>
    <li>FAQ</li>
</ul>

@RenderPage("~/Views/Shared/sidebar.cshtml")

<div id="content">
    
    <h3>常见问题</h3>
            
    <dl class="faq">
        <dt>美国教育制度常识</dt>
        <dd>美国各州的教育并不由美国联邦政府或美国教育部管辖，各州政府享有本州教育之立法权，各州的教育事务由各州自己负责丶管理丶审核及批准。</dd>
        
        <dt>美国教育部与六大联盟之关系</dt>
        <dd>美国教育部与六大联盟完全没有任何隶属关系，六大联盟也仅仅是美国的六个比较具有代表性的受理教育资质评鉴的民间组织。<br />注：在美国受理教育资质评鉴的民间组织有100多家！</dd>
            
        <dt>合法性与评鉴的区别</dt>
        <dd>大学和学位的合法性与学校是否通过评鉴是完全不同的两件事，而且两者之间没有任何关联关系。</dd>
        
        <dt>合法授予学位的两个要件</dt>
        <dd>（1） 大学或学院在州政府合法注册。<br />（2） 主管教育的美国州政府消费事务部核可授证资质。</dd>
         
        <dt>远端教育与评鉴之关系</dt>
        <dd>美国是一个鼓励创新和勇於冒险的国家，远距教育（含网路及其它远教模式）在全世界都是一种新生事物，是一种创新并在积极探索发展中的教育模式。美国各评鉴联盟刚刚开始受理“远距教育”的评鉴。<br />注：在美国，一个大学没有被评鉴是很正常的事！</dd>
        
        <dt>能力与学历的关系</dt>
        <dd>美国是一个相对比较现实和实际的国度，所以美国社会更看重一个已毕业学生的能力状况，而并非他的学历以及毕业于哪一家大学；中国已经是一个市场经济社会（有社会主义特色），而且中国已经加入WTO，相信中国的用人观念必将趋於比较现实。</dd>
    </dl>
    
</div><!-- content //-->
