@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
    <li><a href="~/index">HOME</a></li>
    <li>FAQ</li>
</ul>

@RenderPage("~/Views/Shared/sidebar.cshtml")

<div id="content">
    
    <h3>Frequently Asked Questions</h3>
            
    <dl class="faq">
        <dt>How can I contact the Office of Admissions if I have questions?</dt>
        <dd>Your questions should be answered on this Web site, so please study it carefully.Another option is to search for the topic you need on the international section's site map. If you still need assistance, contact us.</dd>
        
        <dt>How do I know what level to which I should apply?</dt>
        <dd><a href="http://www.admissions.ufl.edu/prospectivefreshmen.html" target="_blank">Freshman:</a> An applicant who has not attended a university or college. The applicant has completed his or her secondary education (equivalent to completing high school in the United States).<br>Graduate Applicant: An applicant who has earned the equivalent of a U.S.<br>bachelor's degree from a recognized university or college.</dd>
            
        <dt>How can I pay the application fee?</dt>
        <dd>You can pay by credit card when you submit your application, or you can send a<br>check or money order, payable in U.S. funds.</dd>
        
        <dt>Does the SWIU offer financial assistance to students?</dt>
        <dd>Yes, we offer plenty of financial aid to students. For more information, contact<br>Student Financial Affairs.</dd>
         
        <dt>What credentials do I need to provide to the Office of Admissions?</dt>
        <dd>Undergraduates:<br>Submit your secondary records (high school) in the native language with a certified,literal (exact) English translation (if applicable). If the certificate/diploma was issued with completion of education, it too must be submitted in the native language with a certified, literal (exact) English translation.<br><br>Graduates:<br>Submit your college records to the Office of Admissions and to the department. If you are attending a foreign university, you must submit transcripts and degree/ diploma statement in the native language with a certified, literal (exact) English translation (if applicable). If you are attending a U.S. college/university, you must also submit those transcripts.</dd>
        
        <dt>What exams are required?</dt>
        <dd>TOEFL is required for all international students in which English is not an official language in their countries.</dd>
         
        <dt>What type of housing is available for international students?</dt>
        <dd>While on-campus housing is limited for everyone, there are many opportunities off campus.</dd>
         
        <dt>What are the undergraduate and graduate majors?</dt>
        <dd>Please check the programs at SWIU.</dd>
         
        <dt>What kind of financial documents must I send?</dt>
        <dd>You cannot be issued the I-20 until you complete and SWIU receives the Certificate of Financial Responsibility and provide financial confirmation statements from each of your sponsors. The bank statement(s) must cover the estimated total cost of your educational and living expenses.</dd>
         
        <dt>How much will it cost to attend the SWIU?</dt>
        <dd>The university requires proof of financial support for the first year of study: Graduate $40,710;<br>Undergraduate $34,820. An additional $6,000 is required for your spouse and $2,500 for each child. These estimates are subject to change and do not include travel expenses. Make copies of the certificate of financial responsibility for your records and for use at the United States Consulate.</dd>
        
        <dt>How can I check the status of my application?</dt>
        <dd>Click the brown "Check Status" button from any admissions page, and remember to<br>use your SWIU User ID and password.</dd>
         
        <dt>When will I receive my I-20 once I have been admitted to the university?</dt>
        <dd>lease contact International Student Services.</dd>
    </dl>
    
</div><!-- content //-->
