@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="breadCrumb">
    <li><a href="~/index">HOME</a></li>
    <li>FAQ</li>
</ul>

@RenderPage("~/Views/Shared/sidebar.cshtml")

<div id="content">
    
    <h3>常見問題</h3>
            
    <dl class="faq">
        <dt>美國教育制度常識</dt>
        <dd>美國各州的教育並不由美國聯邦政府或美國教育部管轄，各州政府享有本州教育之立法權，各州的教育事務由各州自己負責、管理、審核及批准。</dd>
        
        <dt>美國教育部與六大聯盟之關係</dt>
        <dd>美國教育部與六大聯盟完全沒有任何隸屬關係，六大聯盟也僅僅是美國的六個比較具有代表性的受理教育資質評鑒的民間組織。<br />注：在美國受理教育資質評鑒的民間組織有100多家！</dd>
            
        <dt>合法性與評鑒的區別</dt>
        <dd>大學和學位的合法性與學校是否通過評鑒是完全不同的兩件事，而且兩者之間沒有任何關聯關係。</dd>
        
        <dt>合法授予學位的兩個要件</dt>
        <dd>（1） 大學或學院在州政府合法註冊。<br />（2） 主管教育的美國州政府消費事務部核可授證資質。</dd>
         
        <dt>遠端教育與評鑒之關係</dt>
        <dd>美國是一個鼓勵創新和勇於冒險的國家，遠距教育（含網路及其它遠教模式）在全世界都是一種新生事物，是一種創新並在積極探索發展中的教育模式。美國各評鑒聯盟剛剛開始受理“遠距教育”的評鑒。<br />注：在美國，一個大學沒有被評鑒是很正常的事！</dd>
        
        <dt>能力與學歷的關係</dt>
        <dd>美國是一個相對比較現實和實際的國度，所以美國社會更看重一個已畢業學生的能力狀況，而並非他的學歷以及畢業于哪一家大學；中國已經是一個市場經濟社會（有社會主義特色），而且中國已經加入WTO，相信中國的用人觀念必將趨於比較現實。</dd>
    </dl>
    
</div><!-- content //-->
